// WRAP
.wrap-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.wrap-city-and-search {
	width: 580px;
	height: 100px;
}


// ПОИСК
.wrap-search {
	display: none;
	height: inherit;

	&.show {
		display: block;
	}

	& form {
		height: inherit;
	}
}
.city-search {
	display: flex;
	justify-content: space-between;
	height: inherit;

	background: var(--white-color);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 8px;

	&_input {
		border: 0;
		background-color: transparent;
		border-width: 0px;

		padding: 0 32px;
		flex: 1 0 0;

		font-size: 30px;
		line-height: 36px;
		color: #000000;

		&:focus {outline: none;}
	}
	&_btn {
		background-color: transparent;
		border-width: 0;
		cursor: pointer;
		padding-left: 0;

		padding-right: 32px;

		font-size: 30px;
		line-height: 36px;
		color: #1086FF;

		&:focus {outline: none;}
	}
}
.search-results {
	background: var(--white-color);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 8px;

	margin-top: 10px;
	position: relative;
	padding: 22px 32px;

	max-height: 30vw;
	overflow: auto;

	&_item {
		color: #000;
		font-size: 30px;
		line-height: 36px;

		padding-bottom: 5px;
		&:last-child {padding-bottom: 0;}

		&:hover {
			color: var(--blue-color);
			cursor: pointer;
		}
	}
}


// ГОРОД
.wrap-city {
	&.hide {display: none;}
}
.current-city {
	font-size: 50px;
	line-height: 60px;
	color: var(--white-color);
}
.city-buttons {
	margin-top: 10px;

	&_btn {
		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);

		&:first-child {margin-right: 30px;}

		& i {
			margin-right: 5px;
		}
	}
}


// ПЕРЕКЛЮЧАТЕЛЬ ГРАДУСОВ
.wrap-units {
	position: relative;

	&:before {
		position: absolute;
		top: 6px;
		left: -15px;
		content: 'º';

		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);
	}
}
.units {
	overflow: hidden;
	display: flex;

	border: 1px solid var(--secondary-color);
	border-radius: 8px;
	
	&_btn {
		font-size: 18px;
		line-height: 22px;
		color: var(--secondary-color);

		width: 38px;
		height: 30px;

		&.active {
			color: var(--white-color) !important;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}


@media screen and (max-width: $bk-md) {
	// WRAP
	.wrap-city-and-search {
		width: 100%;
	}

	// ПЕРЕКЛЮЧАТЕЛЬ ГРАДУСОВ
	.wrap-units {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}
@media screen and (max-width: $bk-sm) {
	// WRAP
	.wrap-city-and-search {
		height: 60px;
	}

	// ПОИСК
	.city-search {
		&_input {
			width: 100%;
			flex: unset;
			padding: 0 20px;
			font-size: 22px;
		}
		&_btn {
			padding-right: 20px;
			font-size: 22px;
		}
	}
	.search-results {
		padding: 10px 20px;

		&_item {
			font-size: 22px;
			padding: 0;
		}
	}

	// ГОРОД
	.current-city {font-size: 40px;}
	.city-buttons {
		position: absolute;
		bottom: 100px;
		right: 20px;
		margin-top: 0;

		&_btn {
			display: block;

			padding: 5px;
			border-radius: 8px;
			border: 1px solid var(--secondary-color);

			width: 32px;
			height: 32px;

			&:first-child {margin-right: 0;}
			&:last-child {margin-top: 15px;}
			& span {display: none;}
			& i {margin-right: 0;}
		}
	}
}
@media screen and (max-width: $bk-xsm) {
	.current-city {font-size: 35px;}
}
